
    <%= link_to author_path(author) do %>
        <div class="list-group-item ">
            <%= image_tag author.image, width: '120px', height: '120px' %>
            <strong><%= author.full_name %></strong> 
        </div>
    <% end %>
