<div class="form-container">
    <p>Sign up as a new user</p>
    
    <%= render partial: 'form', locals: {
        user: @user
    } %>
</div>
Wrap your form in a div.
Set the div's display to block and text-align to center (this will center the contained form).
Set the form's display to inline-block (auto-sizes to content), left and right margins to auto (centers it horizontally), and text-align to left (or else its children will be center-aligned too).