<div>
    <%= render partial: 'user', locals: {user: @user} %>
    <%= render partial: 'user_reviews', locals: {user: @user} %>
    
</div>

<p>
    Books added (total of <%= books_added(@user).count %> ):
</p> 
    <ul>
        <% books_added(@user).each do |book| %>
            <li>
                <%= link_to book.title, book_path(book)%>
            </li>
        <% end %>
    </ul>
<p>
    Categories added:
</p>

