<div>
    <%= render partial: 'user', locals: {user: @user} %>

    <div>Totals for <%= @user.full_name %>:  
        <p>Reviews:
            <%= Review.reviews_by_user(@user).count %>
        </p>
        <p>
            Books added:
        </p> 
        <p>
            Categories added:
        </p>
    </div>
</div>

