<div class="outer bg-image-about">
    
    <p class="quote">
        We would like to welcome you to our 'The Book Club' app! Here you can browse through books, authors, and categories. On the 'books' page find the book using our simple search engine and check all reviews other users added about this book, write your own, or if we do not have a book you like create one! Use this app to learn more about authors, categories and books. On your profile page, you will have a summary of your actions on the app which you can use to keep track of books you read, reviewed, or added. 
        Enjoy!
    </p>

 

</div>
