/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* background-image: url('book_club_cover.png'); */
   /* background-repeat: no-repeat;
   background-size: 100%; */

 :root {
   --blue: #1e90ff;
   --white: #ffffff;
   --light: rgba(74, 192, 186, 0.4);

   --yellow: rgba(255, 218, 121,1);
   --yellow-light: rgba(255, 218, 121,0.5);
   --yellow-light-light: rgba(255, 218, 121, 0.3);

   --blue: rgba(52, 172, 224,1.0);
   --blue-light: rgba(52, 172, 224,0.5);

   --red: rgba(255, 82, 82, 1);
   --red-light: rgba(255, 82, 82,0.5);

   --green: rgba(51, 217, 178,1.0);
   --green-light: rgba(51, 217, 178,0.5);

   --yellow-brown: rgba(255, 177, 66,1.0);
 }

 * {box-sizing: border-box;}
 
body {
   margin: 0;
   background-color: var(--yellow-light);
}

/* singin form */

.form-container {
   background-color: var(--yellow-light-light);
   margin: 10px;
   padding: 10px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
   display: block;
   text-align: center;
}
.form-control {
   background-color: var(--yellow-light);
}
.form-control:active {
   background-color: var(--basic-bg);
}
.form-control:focus {
   background-color: var(--green-light);

}
.form-control:required {
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}

.form-container > form {
   width: 50vw;
   display: inline;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}

.form-container > h6 {
   margin-top: 20px;
}

/* adding style for login form */
.login-form {
   width: 50vw;
   text-align: center;
   background-color: var(--basic-bg);
   margin: auto;
}
/* .mb-3 {
   text-align: center;
} */
/********** stayling navigation bar ***************/
.topnav {
   overflow: hidden;
   background-color: var(--yellow);
 }
 
 .topnav a {
   float: left;
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 .topnav a:hover {
   background-color: var(--yellow-brown);
   color: black;
 }

 .topnav .login-container {
   float: right;
 }
 


 .bg-image {
    position: relative;
   outline: 2px solid black;
   padding: 20em;
   background-image: url('book_club_cover.png');
   background-repeat: no-repeat;
   background-size: 100%;
   width: 100%;
   height: 100vw%;
 }

 .heading {
    text-align: center;
    padding: 20px;
 }

 .flash-msg {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
 }
 
/* all links in app with no underline and change font color */
a {
   text-decoration: none;
   color: black;
}
/* *********************Buttons****************** */

.btn {
   /* margin-top: 10px; */
   padding: 10px;
}
.btn-signin-login {
   outline: 1px solid black;
   background-color: var(--yellow-light);
}
.btn-signin-login:hover{
   background-color: var(--yellow-brown);
}
.btn-signin-login button:active{
   background-color: var(var(--green-light));
}

.btn-success {
   display: block;
   padding: 15px;
   margin: 20px auto auto;
   width: 33%;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
   /* background-color: var(--green); */

}
/* *********************Fields Wirh Errors****************** */

/* adding style for filds_with_errors */
.field_with_errors {
      display: block;
      clear: both;
}

.field_with_errors input  {
   border: 1px solid red;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.field_with_errors textarea {
   border: 1px solid red;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/******************** displaying errors messages ***********************  */
.display-errors {
   width: 50%;
   margin: auto;
   padding: 12px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   /* text-align: center; */
}


.show-user-totals {
   margin: 15px;
   padding: 15px;
}

.table {
   background-color: var(--yellow-light);
}
/* book index page */
.list-group-item{
   background-color: var(--yellow-light);
   margin-bottom: 10px;
}
/********** category index and showpage ***************/
.category {
   /* text-align: center; */
   padding-left: 7%;
}
.edit-del{
   padding: 5px;
   margin: 20px;

}
.edit-del:hover{
   background-color: var(--yellow-brown);
   color: black;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user {
   padding: 10px;
}

/******* welcome#home page quotes **********/
.quote {
   /* outline: 2px solid rgb(216, 207, 207); */
   color: blanchedalmond;
   font-size: x-large;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   position: absolute;
   top: 10%;
   left: 10%;
}

/* Collection select in books/_form */

.col-select {
   width: 33%;
   margin: auto;
}

/* category name field new and edit */
.cat-name {
   width: 33%;
   margin: auto;
}
