/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    
}
 /* .bg-image {
    outline: 2px solid black;
    padding: 20em;
    background-repeat: no-repeat;
    background-position: 100px 10px;
    background-size: 10px;
 } */
 /* <%= image_tag 'background/book_store.jpeg' %> */
 /* .bg-image {
   padding: 20em;
   background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2Favirtualbookclub%2F&psig=AOvVaw0Yx2Wv_Gs6yPf9bL8yEyAQ&ust=1628182218840000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPjUqMjpl_ICFQAAAAAdAAAAABAL");
   
} */
/* all links in app with no underline and change font color */
a {
   text-decoration: none;
   color: black;
}
/* a :hover {
   background-color: lightgray;

} */

/* addin margin for buttons to separate them */
.btn {
   margin: 1rem;
}
/* adding style for filds_with_errors */
.field_with_errors {
      display: block;
      clear: both;
}

.field_with_errors input  {
   border: 1px solid red;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.field_with_errors textarea {
   border: 1px solid red;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* displaying errors messages  */
.display-errors {
   width: 50%;
   margin: 12px;
   padding: 12px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}