<div class="form-container">
    <h2>Create new review for <%= @book.title %></h2>
    
    <%= render partial: 'form', locals: {
        review: @review,
        book: @book,
        user: current_user
        } %>
</div>
